@page
@model IndexModel
@{
    if (ViewData["Message"] != null)
        {
            ViewData["Title"] = "Logged in";
        }
        else
        {
            ViewData["Title"] = "Logged out";
        }
        Layout = "_Layout";
}

<div class="text-center">
    @if (ViewData["Message"] != null)
    {
        <h1 class="display-4">Welcome to ~~~, <span style="color: @Model.LoggedUser.UsernameColor; font-weight:500">@Model.LoggedUser.Username</span>!</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to ~~~! </h1>
    }
    <br />
    <br />
    <br />
    <br />
    <h4 class="text-center display-10">~~~Content here~~~</h4>

</div>


