@page
@model Razor_Pages_Web_App.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1>Login into your account.</h1>
    <br>

    <form method="post">
        <div class="text-danger" asp-validation-asp-validation-summary="ModelOnly"></div>

        <div class="form-group row justify-content-md-center" style="font-size:medium">
            <div class="col col-lg-2">
                <label asp-for="LoginInfo" style="display: inline-block; margin-right: 5px;">Enter your username or email:*</label>
            </div>
            <div class="col col-lg-2">
                <input type="text" autocomplete="off" asp-for="LoginInfo" class="form-control" required />
            </div>
            <span class="text-danger" asp-validation-for="LoginInfo"></span>
        </div>
        <br />

        <div class="form-group row justify-content-md-center" style="font-size:medium;">
            <div class="col col-lg-2">
                <label asp-for="Password" style="display:inline-block; margin-right: 5px;">Enter your password:*</label>
            </div>
            <div class="col col-lg-2">
                <input type="password" asp-for="Password" class="form-control" required/>
            </div>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <br />

        <div class="form-group row justify-content-md-center" style="font-size:medium;">
            <div class="col col-lg-2">
                <input type="checkbox" asp-formaction="@Model.RememberMe" />
                <label asp-for="@Model.RememberMe">Remember me</label>
            </div>
        </div>
        <br />

        <div class="form-group row justify-content-md-center">
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
    </form>
</div>
